@charset "utf-8";

#Section_A {
    background: #FFF;
    height: 65px;
    border-bottom: 1px solid #e2e2e2;
}

.board_title {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

.board_title .board_title_back {
    display: none;
}

.board_title .board_title_l {
    float: left;
    font-size: 22px;
    color: #000;
    line-height: 25px;
    font-weight: 400;
    padding-top: 18px;
}

.board_title .board_title_r {
    float: right;
    font-size: 16px;
    color: #888;
    line-height: 18px;
    font-weight: 300;
    padding-top: 24px;
}

.board_title .board_title_r em {
    color: #333;
    font-weight: 300;
}

.board_title .board_title_r span {
    position: relative;
    float: left;
}

.board_title .board_title_r .arrow {
    position: relative;
    float: left;
    font-size: 0em;
    line-height: 0em;
    text-indent: -10240px;
    top: 4px;
    left: 0;
    width: 6px;
    height: 10px;
    background: url(/images/login/iconset.png) no-repeat -238px -431px;
    z-index: 3;
    margin: 0px 8px 0px 8px;
}

#Section_A1 {
    background: #FFF;
    height: 60px;
    border-bottom: none;
}

#Section_A1 .teacher_title {
    position: relative;
    width: 980px;
    margin: 0 auto;
    padding-top: 20px;
}

#Section_A1 .teacher_title strong {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    padding: 10px 20px 0px 0px;
}

#Section_A1 .teacher_title span.arrow {
    position: relative;
    float: left;
    font-size: 0em;
    line-height: 0em;
    text-indent: -140px;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    background: url(/images/login/iconset.png) no-repeat -381px -612px;
    z-index: 3;
    margin: 0px 8px 0px 0px;
}

#Section_A1 .teacher_title .job {
    font-size: 16px;
    font-weight: 300;
    color: #888;
    padding-top: 20px;
}

#Section_A2 {
    background: #f8f9fa;
    height: 90px;
    color: #666;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 19px;
}
#Section_A2 .Sect_cont strong {
    color: #ef7e08;
    font-size: 16px;
    font-weight: 300;
}

#Section_B {
    background: #f8f9fa;
    border: none;
    height: 88px;
    border-bottom: 1px solid #f8f9fa;
}

#Section_B label {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: #333;
}

#Section_B input[type="radio"] {
    display: none;
}

#Section_B input[type="radio"]+label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 10px 0px 0px;
    vertical-align: middle;
    background: url(/images/login/iconset.png) no-repeat -528px -431px;
    cursor: pointer;
}

#Section_B input[type="radio"]:checked+label span {
    background: url(/images/login/iconset.png) no-repeat -549px -431px;
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(/images/login/iconset.png) -51px -656px no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked+label span {
    background: url(/images/login/iconset.png) -11px -656px no-repeat;
}

input.board_title_in {
    width: 690px;
    height: 36px;
    border: 1px solid #e8e5e2;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 0px 3px 0px;
    margin: 0px 0px 0px 0px;
}


.save1 {
    position: relative;
    display: inline-block;
    width: 50%;
}

.save1 .cbr_type {
    visibility: hidden;
    position: absolute;
}

.save1 label {
    position: relative;
    font-size: 0;
    margin: 0px;
    padding: 0px;
    text-indent: -999px;
    line-height: 0px;
}

.save1 label i {
    width: 22px;
    height: 22px;
    background: url(/images/login/icon_set.png) no-repeat -187px 0px;
}

.save1 input[type="checkbox"]+label i {
    position: absolute;
    top: -11px;
    left: 11px;
    width: 22px;
    height: 22px;
    background: url(/images/login/icon_set.png) no-repeat -187px 0px;
}

.save1 input[type="checkbox"]:checked+label i {
    background-position: -160px 0px;
}

.save1 input[type="checkbox"]:checked+label {
    color: #169ada;
}





#Section_B .board_search {
    float: right;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    border: none;
    border-top: 1px solid #dedee1;
    border-bottom: 1px solid #dedee1;
    border-left: 1px solid #dedee1;
    width: 390px;
    height: 40px;
    margin-top: 24px;
}

#Section_B input::-ms-input-placeholder {
    color: #888;
    font-size: 15px;
    font-weight: normal;
    line-height: 14px;
    padding-top: 14px;
}

#Section_B input::-webkit-input-placeholder {
    color: #888;
    font-size: 15px;
    font-weight: 300;
    line-height: 14px;
}

#Section_B input::-moz-placeholder {
    color: #888;
    font-size: 15px;
    font-weight: 300;
    line-height: 14px;
}

#Section_B .board_search_input {
    width: 346px;
    height: 38px;
    line-height: 18px;
    border: 0;
    vertical-align: top;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 3px 13px;
    background-color: #FFF;
}

#Section_B .board_search_btn {
    border: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    margin: 0;
    margin-top: -1px;
    padding: 0;
    text-indent: -999px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    background: url(/images/login/iconset.png) no-repeat -529px -475px;
}

#Section_B .Sect_cont {
    width: 740px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.board_search_l {
    float: left;
}

.board_search_l ul {
    margin-top: 30px;
}

.board_search_l ul li {
    float: left;
}

#Section_B1 {
    height: 105px;
}

#Section_B1 ul.category {
    margin-top: 60px;
}

#Section_B1 ul.category li {
    position: relative;
    display: inline-block;
    z-index: 11;
    float: left;
    height: 55px;
    width: 11.1%;
    font-size: 14px;
    color: #888;
    text-align: center;
    vertical-align: middle;
    margin-left: -1px;
    padding-top: 0px;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #3f3f3f;
}

#Section_B1 ul.seven li {
    width: 14.3%;
    height: 55px;
}

#Section_B1 ul.category li.select {
    position: relative;
    display: inline-block;
    z-index: 15;
    float: left;
    height: 55px;
    color: #ff3c00;
    margin-left: -1px;
    border-top: 1px solid #3f3f3f;
    border-left: 1px solid #3f3f3f;
    border-right: 1px solid #3f3f3f;
    border-bottom: 1px solid #FFF;
}

#Section_B1 ul.category li a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #666;
    width: 100%;
    line-height: 16px;
    height: 55px;
    vertical-align: middle;
}

#Section_B1 ul.category li.select a {
    position: relative;
    display: inline-block;
    line-height: 19px;
    color: #ff3c00;
    width: 100%;
    height: 55px;
    vertical-align: middle;
}

#Section_B1 ul.category li:first-child {
    width: 12%;
    margin-left: 0px;
}

#Section_B1 ul.seven li:first-child {
    width: 14.7%;
    margin-left: 0px;
}

#Section_B1 ul.seven li a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    padding-top: 10px;
    color: #666;
    width: 100%;
    height: 55px;
    line-height: 33px;
    vertical-align: middle;
}

#Section_B1 ul.seven li.line2 {
    padding-top: -30px;
}

#Section_C {
    background: #FFF;
    border: none;
    height: 110px;
}

#Section_C .table_cont {
    width: 980px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    overflow: hidden;
    border: none;
}

#Section_C .table_cont .board_up_l {
    float: left;
    font-size: 14px;
    color: #888;
    padding-top: 23px;
    padding-right: 25px;
}

#Section_C .table_cont .board_up_l strong {
    font-weight: 400;
    padding-right: 10px;
}

#Section_C .table_cont .board_up_l span {
    font-weight: 300;
    padding-right: 25px;
}

#Section_C .table_cont .board_up_r {
    float: right;
}

#Section_C .table_cont .board_up_r .btn {
    font-family: "Noto Sans KR";
    font-weight: 300;
    background-color: #ef7e08;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}

#Section_D {
    background: #FFF;
    border: none;
    border-bottom: 1px solid #FFF;
}

#Section_D .Sect_cont {
    width: 980px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#Section_D .gen_board {
    width: 100%;
    border-top: 1px solid #cdc9c6;
}

#Section_D .gen_board td {
    border-bottom: 1px solid #e8e5e2;
    background-color: #FFF;
    height: 49px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #444;
}

#Section_D .gen_board td a {
    color: #444;
}

#Section_D .gen_board td.left {
    text-align: left;
    padding: 10px 0px 10px 20px;
}

#Section_D .gen_board td.line {
    border-left: 1px solid #e8e5e2;
    border-right: 1px solid #e8e5e2;
}

#Section_D .gen_board th.line {
    border-left: 1px solid #e8e5e2;
    border-right: 1px solid #e8e5e2;
}

#Section_D .gen_board td.no_result {
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    height: 382px;
    background: url(/images/login/no_result.png) no-repeat 50% 50%;
}


#Section_D .gen_board td span.comtext {
    color: #444;
    padding: 0px 18px 0px 4px;
}

#Section_D1 {
    background: #FFF;
    border: none;
    border-bottom: 1px solid #FFF;
}

#Section_D1 .Sect_cont {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#Section_D1 .gen_board {
    width: 100%;
    border-top: 1px solid #cdc9c6;
}

#Section_D1 .gen_board td {
    border-bottom: 1px solid #e8e5e2;
    background-color: #FFF;
    height: 49px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #444;
}

#Section_D1 .gen_board td a {
    color: #444;
}

#Section_D1 .gen_board td.left {
    text-align: left;
    padding-left: 20px;
}

#Section_D1 .gen_board td.no_result {
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    height: 382px;
    background: url(/images/login/no_result.png) no-repeat 50% 50%;
}

#Section_D1 .gen_board th {
    border-bottom: 1px solid #cdc9c6;
    background-color: #f9f7f5;
    height: 61px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

#Section_D1 .gen_board th.left {
    text-align: left;
    padding-left: 20px;
}

#Section_D1 .button_board {
    text-align: right;
    padding: 20px 10px 140px 10px;
}

.gen_board td i {
    position: relative;
    display: inline-block;
    z-index: 120;
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    top: -3px;
    left: 0px;
    width: 18px;
    height: 18px;
    margin: 0px 5px 0px 15px;
    background: url(/images/login/iconset.png) no-repeat -297px -612px;
    background-size: 600px;
}

.gen_board td i.naver {
    background: url(/images/login/iconset.png) no-repeat -297px -612px;
}

.gen_board td i.facebook {
    background: url(/images/login/iconset.png) no-repeat -327px -612px;
}

.gen_board td i.cacao {
    background: url(/images/login/iconset.png) no-repeat -357px -612px;
}

#Section_D .gen_board td.content {
    text-align: left;
    padding: 20px 20px 80px 20px;
}

#Section_D .gen_board td.right {
    text-align: right;
    padding-right: 20px;
}

#Section_D .gen_board td span.notice {
    position: relative;
    display: inline-block;
    z-index: 120;
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 21px;
    background: url(/images/login/iconset.png) no-repeat -540px 0px;
    background-size: 600px;
}

#Section_D .gen_board td span.new {
    position: relative;
    display: inline-block;
    z-index: 120;
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    top: 0px;
    left: 10px;
    width: 13px;
    height: 14px;
    background: url(/images/login/iconset.png) no-repeat -518px 0px;
    background-size: 600px;
}

#Section_D .gen_board th {
    border-bottom: 1px solid #cdc9c6;
    background-color: #f9f7f5;
    height: 61px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
}

#Section_D .gen_board th.left {
    text-align: left;
    padding-left: 20px;
}

#Section_D .button_board {
    text-align: right;
    padding: 20px 10px 0px 10px;
}

.btn_wh {
    font-family: "Noto Sans KR";
    font-weight: 300;
    background-color: #FFF;
    border: 1px solid #999;
    color: #333;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}

.btn_br {
    font-family: "Noto Sans KR";
    font-weight: 300;
    background-color: #bba078;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}

.btn_or {
    font-family: "Noto Sans KR";
    font-weight: 300;
    background-color: #ef7e08;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}

.btn_br:hover {
    background-color: #555;
    border: 1px solid #FFF;
    color: #FFF;
}

#Section_D .btn_wh {
    font-family: "Noto Sans KR";
    font-weight: 300;
    background-color: #FFF;
    border: 1px solid #999;
    color: #333;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}

#Section_D .btn_br {
    font-family: "Noto Sans KR";
    font-weight: 300;
    background-color: #bba078;
    border: 1px solid #bba078;
    color: #FFF;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}

#Section_D .btn_br_s {
    font-family: "Noto Sans KR";
    font-weight: 300;
    background-color: #bba078;
    border: 1px solid #e8e5e2;
    color: #FFF;
    padding: 7px 19px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}

#Section_D .btn_br:hover {
    background-color: #555;
    border: 1px solid #555;
    color: #FFF;
}

#Section_D .btn_or {
    font-family: "Noto Sans KR";
    font-weight: 300;
    background-color: #ef7e08;
    border: 1px solid #ef7e08;
    color: #FFF;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-left: 7px;
}

#Section_D .btn {
    font-family: "Noto Sans KR";
    font-weight: 300;
    background-color: #ef7e08;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin-left: 7px;
}

#Section_D .btn_ss {
    font-family: "Noto Sans KR";
    font-weight: 300;
    background-color: #FFF;
    border: 1px solid #AAA;
    color: #333;
    padding: 6px 14px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
}


#Section_E {}

#Section_E .gen_board {
    width: 100%;
    border-top: 1px solid #cdc9c6;
    margin: 10px 0px 150px 0px;
}

#Section_E .gen_board th {
    border-bottom: 1px solid #cdc9c6;
    background-color: #f9f7f5;
    height: 61px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
}

#Section_E .gen_board a {
    clear: both;
    position: relative;
    display: inline-block;
    line-height: 27px;
}

#Section_F {
    padding-top: 49px;
    margin-bottom: 19px;
    background: #FFF;
    border: none;
    height: 93px;
}

#Section_F .table_cont .board_up_l {
    float: left;
    font-size: 14px;
    color: #888;
    padding-top: 26px;
    padding-right: 25px;
}

#Section_F .table_cont .board_up_l strong {
    font-weight: 400;
    padding-right: 10px;
}

#Section_F .table_cont .board_up_l span {
    font-weight: 300;
    padding-right: 25px;
}

#Section_F .table_cont .board_up_r {
    float: right;
}

#Section_F .table_cont .board_up_r .btn {
    font-family: "Noto Sans KR";
    font-weight: 300;
    background-color: #ef7e08;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}


.gen_board_w {
    width: 100%;
    border-top: 1px solid #cdc9c6;
    margin: 10px 0px 0px 0px;
}


.gen_board_w th {
    border-bottom: 1px solid #e8e5e2;
    background-color: #f9f7f5;
    height: 61px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
}

.gen_board_w td {
    border-bottom: 1px solid #e8e5e2;
    background-color: #FFF;
    height: 49px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #444;
}

.gen_board_w td label {
    vertical-align: middle;
    cursor: pointer;
    padding: 0px;
}

.gen_board_w td label.check01 {
    vertical-align: middle;
    cursor: pointer;
    padding-left: 15px;
}

.gen_board_w td.left {
    text-align: left;
    padding: 13px 0px 13px 20px;
}

.gen_board_w td i {
    position: relative;
    display: inline-block;
    z-index: 120;
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    top: -3px;
    left: 0px;
    width: 18px;
    height: 18px;
    margin: 0px 5px 0px 15px;
    background: url(/images/login/iconset.png) no-repeat -297px -612px;
    background-size: 600px;
}

.gen_board_w td i.naver {
    background: url(/images/login/iconset.png) no-repeat -297px -612px;
}

.gen_board_w td i.facebook {
    background: url(/images/login/iconset.png) no-repeat -327px -612px;
}

.gen_board_w td i.cacao {
    background: url(/images/login/iconset.png) no-repeat -357px -612px;
}

.gen_board_w td i.ebs {
    background: url(/images/login/iconset.png) no-repeat -267px -612px;
}

.board_edit {
    border: 1px solid #e8e5e2;
    width: 691px;
    height: 350px;
}

.board_edit_answer {
    border: 1px solid #e8e5e2;
    width: 691px;
    height: 100px;
}

.board_attach {
    width: 690px;
    height: 60px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    border: 1px solid #e8e5e2;
    float: left;
}

.board_attach_01 {
    float: left;
}


.board_attach ul {
    padding: 11px 0px 0px 0px;
}

.board_attach ul li {
    float: left;
    width: 330px;
    font-size: 13px;
    color: #555;
    padding: 0px 10px 4px 10px;
}

.board_attach ul li a {
    font-size: 13px;
    color: #555;
    padding: 0px 0px 0px 10px;
}

#Section_E .gen_board th.h80 {
    border-bottom: 1px solid #cdc9c6;
    background-color: #f9f7f5;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    height: 80px;
}

#Section_D1 {
    display: none;
}

#Section_G {
    padding: 0px 0px 120px 0px;
    margin-top: 50px;
    border-top: 1px solid #e8e5e2;
}

#Section_G .question_open {
    position: relative;
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 20px;
    padding: 14px 0px 10px 55px;
    border-bottom: 1px solid #e8e5e2;
    height: 59px;
}

#Section_G .question_close {
    position: relative;
    display: inline-block;
    width: 100%;
    color: #555;
    font-size: 20px;
    padding: 14px 0px 10px 55px;
    border-bottom: 1px solid #e8e5e2;
    height: 59px;
}

#Section_G .question_close a {
    display: inline-block;
    width: 100%;
}

#Section_G .question_open em {
    position: absolute;
    display: inline-block;
    z-index: 120;
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    top: 20px;
    right: 30px;
    width: 18px;
    height: 10px;
    background: url(/images/login/iconset.png) no-repeat -164px -657px;
    background-size: 600px;
}

#Section_G .question_close em {
    position: absolute;
    display: inline-block;
    z-index: 120;
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    top: 20px;
    right: 30px;
    width: 18px;
    height: 10px;
    background: url(/images/login/iconset.png) no-repeat -194px -657px;
    background-size: 600px;
}

#Section_G .question_open strong {
    position: absolute;
    display: inline-block;
    z-index: 120;
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    top: 20px;
    left: 30px;
    width: 14px;
    height: 19px;
    background: url(/images/login/iconset.png) no-repeat -87px -657px;
    background-size: 600px;
}

#Section_G .question_close strong {
    position: absolute;
    display: inline-block;
    z-index: 120;
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    top: 20px;
    left: 30px;
    width: 14px;
    height: 19px;
    background: url(/images/login/iconset.png) no-repeat -107px -657px;
    background-size: 600px;
}

#Section_G .question_list {
    background: #f9f7f5;
    border-bottom: 1px solid #e8e5e2;
}

#Section_G .question_list ul {
    padding: 23px 0px 27px 0px;
}

#Section_G .question_list li {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: #666;
    width: 100%;
    padding: 7px 10px 3px 95px;
}

#Section_G .question_list li a {
    font-weight: 300;
}

#Section_G .question_list li strong {
    position: absolute;
    display: inline-block;
    z-index: 120;
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    top: 10px;
    left: 64px;
    width: 22px;
    height: 20px;
    background: url(/images/login/iconset.png) no-repeat -127px -657px;
    background-size: 600px;
}

#Section_G .question_view {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #FFF;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    height: 60px;
    border-bottom: 1px solid #e8e5e2;
    padding: 15px 0px 0px 70px;
}

#Section_G .answer_view {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #f9f7f5;
    font-size: 16px;
    line-height: 24px;
    color: #555;
    font-weight: 300;
    border-bottom: 1px solid #e8e5e2;
    padding: 30px 50px 30px 70px;
}

#Section_G .question_view strong {
    position: absolute;
    display: inline-block;
    z-index: 120;
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    top: 20px;
    left: 30px;
    width: 24px;
    height: 20px;
    background: url(/images/login/iconset.png) no-repeat -127px -657px;
    background-size: 600px;
}

#Section_G .answer_view strong {
    position: absolute;
    display: inline-block;
    z-index: 120;
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    top: 31px;
    left: 30px;
    width: 24px;
    height: 20px;
    background: url(/images/login/iconset.png) no-repeat -127px -681px;
    background-size: 600px;
}








/* 이티즌소개 */

#Section_H {
    position: relative;
}

#Section_H .text_contitle {
    position: relative;
    display: inline-block;
    color: #333;
    font-size: 26px;
    left: 0px;
    width: 100%;
    padding: 40px 0px 10px 0px;
}

.text_contitle_line {
    position: relative;
    clear: both;
    background: #cdc9c6;
    height: 1px;
    width: 50px;
    padding: 0px;
}

.text_contitle_linem20 {
    position: relative;
    clear: both;
    background: #cdc9c6;
    height: 1px;
    width: 50px;
    margin: 0px 0px 20px 0px;
}

.text_contitle_linem30 {
    position: relative;
    clear: both;
    background: #cdc9c6;
    height: 1px;
    width: 50px;
    margin: 0px 0px 30px 0px;
}
.text_contitle_linem31 {
    position: relative;
    clear: both;
    background: #bba078;
    height: 1px;
    width: 50px;
    margin: 0px 0px 30px 0px;
}

#Section_H p {
    position: relative;
    display: inline-block;
    clear: both;
    color: #666;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 0px 30px 0px;
}

.btn.type_stroke {
    display: block;
    width: 230px;
    height: 43px;
    margin: 0 auto;
    border: 1px solid #ef7e08;
    border-radius: 20px;
    color: #ef7e08;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
}



#Section_H .etizen_table {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 70px;
    margin-left: 0px;
}

#Section_H ul {
    padding-top: 20px;
}

#Section_H ul.star li {
    position: relative;
    float: left;
    padding-left: 30px;
}

#Section_H ul.star li:first-child {
    position: relative;
    float: left;
    padding-left: 0px;
}

#Section_H .etizen_table .star {
    position: relative;
    display: inline-block;
    z-index: 120;
    font-size: 0px;
    line-height: 24px;
    text-indent: -999px;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    background: url(/images/login/etizen_bg.png) no-repeat 0px 0px;
}

#Section_H .etizen_table .star.s01 {
    background: url(/images/login/etizen_bg.png) no-repeat 0px 0px;
}

#Section_H .etizen_table .star.s02 {
    background: url(/images/login/etizen_bg.png) no-repeat -101px 0px;
}

#Section_H .etizen_table .star.s03 {
    background: url(/images/login/etizen_bg.png) no-repeat -202px 0px;
}

#Section_H .etizen_table .star.s04 {
    background: url(/images/login/etizen_bg.png) no-repeat -303px 0px;
}

#Section_H .etizen_table .star.s05 {
    background: url(/images/login/etizen_bg.png) no-repeat -404px 0px;
}

#Section_H .etizen_table .star.s06 {
    background: url(/images/login/etizen_bg.png) no-repeat -505px 0px;
}

#Section_H .etizen_table .star.s07 {
    background: url(/images/login/etizen_bg.png) no-repeat -606px 0px;
}

#Section_H .etizen_table .star.s08 {
    background: url(/images/login/etizen_bg.png) no-repeat -707px 0px;
}

#Section_H .etizen_table .star.s09 {
    background: url(/images/login/etizen_bg.png) no-repeat -808px 0px;
}

#Section_H .etizen_table .star.s10 {
    background: url(/images/login/etizen_bg.png) no-repeat -910px 0px;
}

#Section_H .etizen_table .m_title {
    position: relative;
    display: inline-block;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    padding: 20px 0px 0px 0px;
}

#Section_H .etizen_table .s_content {
    position: relative;
    display: inline-block;
    color #666;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0px 0px 0px;
}

#Section_H .remote_control_pic {
    position: relative;
    display: inline-block;
    width: 100%;
    color #666;
    background-color: #f8f7f5;
    border: 1px solid #e8e4e1;
    font-size: 14px;
    line-height: 20px;
    height: 246px;
    text-align: center;
    padding-top: 48px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#Section_H .remote_control_pic img {
    max-width: 732px;
    width: 74.6%;
    height: 74.6%;
}




#Section_D .text_contitle {
    position: relative;
    display: inline-block;
    color: #333;
    font-size: 26px;
    left: 0px;
    width: 100%;
    padding: 40px 0px 10px 0px
}

#Section_D .text_contitle_line {
    position: relative;
    clear: both;
    background: #cdc9c6;
    height: 1px;
    width: 50px;
    padding: 0px;
}

#Section_D p {
    position: relative;
    display: inline-block;
    clear: both;
    color: #666;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 0px 30px 0px;
}

#Section_D p.category {
    font-size: 14px;
    line-height: 14px;
    padding: 7px 0px 0px 0px;
}

#Section_D p.comment {
    font-size: 12px;
    line-height: 12px;
    color: #555;
    padding: 9px 0px 0px 0px;
}

ul.roundul {
    padding: 10px 0px 20px 0px;
}

ul.roundul li {
    color: #666;
    font-size: 16px;
    line-height: 30px;
    background: url(/images/login/dot_ul.png) no-repeat 0px 14px;
    padding-left: 10px;
}


@media (max-width: 995px) {
    #Section_A {
        background: #FFF;
        height: 65px;
        width: 100%;
        border-bottom: 1px solid #e2e2e2;
    }
    #Section_A .board_title {
        width: 91%;
    }


    #Section_A1 {
        background: #FFF;
        height: 60px;
        border-bottom: none;
    }

    #Section_A1 .teacher_title {
        position: relative;
        width: 91%;
        margin: 0 auto;
        padding-top: 20px;
    }

    #Section_A1 .teacher_title strong {
        font-size: 16px;
        font-weight: 400;
        color: #000;
        padding: 10px 20px 0px 0px;
    }

    #Section_A1 .teacher_title span.arrow {
        position: relative;
        float: left;
        font-size: 0em;
        line-height: 0em;
        text-indent: -140px;
        top: 0px;
        left: 0px;
        width: 24px;
        height: 24px;
        background: url(/images/login/iconset.png) no-repeat -381px -612px;
        z-index: 3;
        margin: 0px 8px 0px 0px;
    }
    #Section_A1 .teacher_title .job {
        font-size: 16px;
        font-weight: 300;
        color: #888;
        padding-top: 20px;
    }

    #Section_C .table_cont {
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;
        position: relative;
        overflow: hidden;
        border: none;
    }

    #Section_D .gen_board col.table_skip {
        display: none;
    }

    #Section_D .gen_board thead.table_skip {
        display: none;
    } 

    #Section_D .gen_board th.table_skip {
        display: none;
    }

    #Section_D .gen_board td.table_skip {
        display: none;
    }
    #Section_D .paging .paging_inner .table_skip {
        display: none;
    }
    #Section_F {
        padding-top: 50px;
        margin-bottom: 10px;
        background: #FFF;
        border: none;
        height: 93px;
    }
    #Section_F .table_cont .board_up_l {
        float: left;
        font-size: 14px;
        color: #888;
        padding-top: 23px;
        padding-right: 25px;
    }

    #Section_F .table_cont .board_up_l strong {
        font-weight: 400;
        padding-right: 10px;
    }

    #Section_F .table_cont .board_up_l span {
        font-weight: 300;
        padding-right: 25px;
    }

    #Section_F .table_cont .board_up_r {
        float: right;
    }

    #Section_F .table_cont .board_up_r .btn {
        font-family: "Noto Sans KR";
        font-weight: 300;
        background-color: #ef7e08;
        border: none;
        color: white;
        padding: 10px 27px;
        text-align: center;
        display: inline-block;
        font-size: 14px;
    }
}


@media (max-width: 550px) {
    #Section_A {
        display: block;
        width: 100%;
        margin-top: 0px;
    }

    #Section_A1 {
        background: #FFF;
        height: 90px;
        border-bottom: none;
    }

    #Section_A1 .teacher_title {
        position: relative;
        width: 91%;
        margin: 0 auto;
        padding-top: 20px;
    }

    #Section_A1 .teacher_title strong {
        clear: both;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        padding: 10px 20px 0px 0px;
    }

    #Section_A1 .teacher_title span.arrow {
        position: relative;
        float: left;
        font-size: 0em;
        line-height: 0em;
        text-indent: -140px;
        top: 0px;
        left: 0px;
        width: 24px;
        height: 24px;
        background: url(/images/login/iconset.png) no-repeat -381px -612px;
        z-index: 3;
        margin: 0px 8px 0px 0px;
    }
    #Section_A1 .teacher_title .job {
        clear: both;
        display: inline-block;
        position: relative;
        font-size: 16px;
        font-weight: 300;
        color: #888;
        padding-top: 5px;
    }



    .board_title .board_title_back {
        display: block;
        position: relative;
    }
    .board_title .board_title_back span {
        position: absolute;
        z-index: 120;
        font-size: 0em;
        line-height: 0em;
        text-indent: -999px;
        top: 15px;
        left: 0px;
        width: 40px;
        height: 33px;
        background: url(/images/login/iconset.png) no-repeat -215px -600px;
    }
    .board_title .board_title_l {
        float: none;
        font-size: 22px;
        text-align: center;
        color: #000;
        line-height: 25px;
        font-weight: 400;
        padding-top: 18px;
    }
    .board_title .board_title_r {
        display: none;
    }

    #Section_B {
        background: #f8f9fa;
        border: none;
        height: 168px;
        border-bottom: 1px solid #f8f9fa;
    }
    #Section_B .Sect_cont {
        width: 100%;
        text-align: center;
    }
    #Section_B .Sect_cont .board_search_l {
        display: inline-block;
        width: 100%;
        float: none;
        clear: both;
        text-align: center;
    }
    #Section_B .Sect_cont .board_search {
        display: inline-block;
        width: 100%;
        float: none;
        clear: both;
        text-align: center;
    }


    #Section_C {
        height: 103px;
    }
    #Section_D {
        display: none;
    }
}



#Section_D input[type="radio"] {
    display: none;
}

#Section_D input[type="radio"]+label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 10px 0px 0px;
    vertical-align: middle;
    background: url(/images/login/iconset.png) no-repeat -528px -431px;
    cursor: pointer;
}

#Section_D input[type="radio"]:checked+label span {
    background: url(/images/login/iconset.png) no-repeat -549px -431px;
}

#Section_D ul.radio {}

#Section_D ul.radio li {
    float: left;
    width: 185px;
    padding: 5px 0px 5px 0px;
    font-size: 14px;
    color: #333;
}

















@media (max-width: 770px) {
    #Section_A {
        display: block;
        width: 100%;
        margin-top: 0px;
    }
    #Section_B {
        background: #f8f9fa;
        border: none;
        height: 72px;
        border-bottom: 1px solid #f8f9fa;
    }
    #Section_B .Sect_cont {
        width: 100%;
        text-align: center;
    }
    #Section_B .Sect_cont .board_search_l {
        display: inline-block;
        width: 360px;
        float: none;
        clear: both;
        text-align: center;
        margin-top: 0px;
    }
    #Section_B .Sect_cont .board_search {
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        float: none;
        clear: both;
        border: none;
        border-top: 1px solid #dedee1;
        border-bottom: 1px solid #dedee1;
        border-left: 1px solid #dedee1;
        height: 40px;
        margin-top: 12px;
        width: 346px;
        text-align: center;
    }
    #Section_B .board_search_input {
        width: 302px;
        height: 38px;
        line-height: 18px;
        border: 0;
        vertical-align: top;
        font-size: 18px;
        font-weight: 400;
        padding: 0 0 3px 13px;
        background-color: #FFF;
    }

    #Section_B1 {
        overflow: hidden;
        height: 165px;
    }

    #Section_B1 .Sect_cont {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 105%;
        margin: 0px;
    }

    #Section_B1 ul.category {
        margin-top: 0px;
    }

    #Section_B1 ul.category li {
        position: relative;
        display: inline-block;
        z-index: 11;
        float: left;
        height: 55px;
        width: 33%;
        font-size: 14px;
        color: #888;
        text-align: center;
        margin-left: -1px;
        margin-top: -1px;
        border: 1px solid #f2f2f2;
    }

    #Section_B1 ul.category li.select {
        position: relative;
        display: inline-block;
        z-index: 15;
        float: left;
        height: 55px;
        color: #ff3c00;
        margin-left: -1px;
        margin-top: -1px;
        border: 1px solid #f2f2f2;
    }


    #Section_B1 ul.category li a {
        position: relative;
        display: inline-block;
        font-size: 16px;
        padding-top: 13px;
        line-height: 27px;
        color: #666;
        width: 100%;
        height: 55px;
    }

    #Section_B1 ul.category li.select a {
        position: relative;
        display: inline-block;
        color: #ff3c00;
        width: 100%;
        height: 55px;
    }

    #Section_B1 ul.category li:first-child {
        width: 33%;
        margin-left: -1px;
    }
    #Section_B1 ul.category li:nth-child(3) {}

    #Section_D {
        display: block;
    }
    #Section_D1 {
        display: block;
    }
}


@media (max-width: 650px) {
    #Section_F {
        height: 133px;
    }
    #Section_D {
        display: block;
    }
}

@media (max-width: 725px) {
    #Section_B {
        background: #f8f9fa;
        border: none;
        height: 138px;
        border-bottom: 1px solid #f8f9fa;
    }
}

@media (max-width: 979px) {
    #Section_A {
        display: block;
        width: 100%;
        margin-top: 0px;
    }
    #Section_A .board_title {
        width: 91%;
        margin-top: 0px;
    }
    input.board_title_in {
        width: 75%;
    }
    .board_edit {
        width: 100%;
    }
    .board_attach {
        width: 75%;
    }
}

@media (min-width: 1280px) {
    .Sect_cont {
        overflow: hidden;
    }
}