@charset "utf-8";


























/*  방과후영어 소개 */

#Section_D p.ascontent {
    display: inline-block;
    color: #333;
    font-size: 20px;
    line-height: 22px;
    padding: 0px 0px 8px 20px;
    background: url(/images/afterschool/bull_as01.gif) no-repeat 0px 8px;
}

#Section_D span.ascontent_01 {
    display: inline-block;
    clear: both;
    color: #666;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 0px 0px 65px 0px;
    background: none;
}

#Section_D span.ascontent_01 em {
    font-weight: 300;
    color: #bba078;
}

#Section_D span.ascontent {
    position: relative;
    display: inline-block;
    clear: both;
    color: #333;
    font-size: 20px;
    line-height: 22px;
    padding: 0px 0px 30px 20px;
    background: url(/images/afterschool/bull_as01.gif) no-repeat 0px 15px;
}

#Section_D p.info {
    position: relative;
    display: inline-block;
    color: #888;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    padding: 0px 0px 51px 25px;
    margin: 0px;
    top: -20px;
    background: url(/images/afterschool/bull_as02.gif) no-repeat 0px 0px;
}


#Section_D .info_box_980 {
    display: block;
    position: relative;
    border: 1px solid #e8e4e1;
    background-color: #f8f7f5;
    top: -35px;
    height: 321px;
    padding-top: 49px;
    text-align: center;
}

#Section_D .info_box_425 {
    display: none;
    border: 1px solid #e8e4e1;
    background-color: #f8f7f5;
    text-align: center;
}

.button_center {
    text-align: center;
}

.button_center .take {
    border: 1px solid #AAA;
    width: 32%;
    height: 43px;
    vertical-align: middle;
    background-color: #fff;
    color: #888;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    margin: 0px 20px 0px 0px;
    font-family: 'Noto Sans KR';
}
.button_center .take.last {
    border: 1px solid #a79684;
    color: #a79684;
    margin: 0px 0px 0px 0px;
    width: 31%;

}

.button_center .take img {
    padding: 0px 0px 0px 7px;
    margin-top: -3px;
}






















/*  방과후영어 수업자료 가이드 */

#Section_D .guide_dnbx1 {
    border: 1px solid #aaa;
    background-color: #FFF;
    height: 60px;
    width: 480px;
    float: left;
}

#Section_D .guide_dnbx2 {
    border: 1px solid #aaa;
    background-color: #FFF;
    height: 60px;
    width: 480px;
    float: right;
}

#Section_D .guide_dnbxlt {
    float: left;
    font-size: 16px;
    color: #000;
    line-height: 25px;
    padding: 15px 0px 0px 20px;
}

#Section_D .guide_dnbxlt1 {
    float: left;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    line-height: 25px;
    padding: 15px 0px 0px 0px;
}

#Section_D .guide_dnbxrt {
    float: right;
    padding: 17px 14px 0px 0px;
}

#Section_D .guide_dnbxrt1 {
    float: right;
    padding: 17px 14px 0px 0px;
}


#Section_D .guide_dnbxrt .dnbtn {
    background: url(/images/afterschool/bull_dn.png) no-repeat 0px 1px;
    padding: 0px 0px 0px 30px;
    margin: 10px 0px 0px 20px;
    font-size: 16px;
    color: #333;
}


#Section_D .guide_dnbx3 {
    border: none;
    height: 40px;
    width: 100%;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#Section_D .guide_dnbx3 button.buy_book {
    border: none;
    background-color: #FFF;
    font-family: 'Noto Sans KR';
    padding: 0px 15px 0px 0px;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    background: url(/images/afterschool/bull_as04.png) no-repeat right 5px;
}

#Section_D .guide_dnbxlt1 span.buy_book {
    color: #888;
    font-size: 14px;
    line-height: 30px;
    background: url(/images/afterschool/bull_as02.gif) no-repeat 0px 3px;
    padding: 0px 0px 3px 25px;
}

#Section_D .guide_tap {
    border-bottom: 3px solid #2d2d2d;
    height: 50px;
    margin: 73px 0px 40px 0px;
}

#Section_D .guide_tap ul li {
    float: left;
    width: 20%;
    text-align: center;
    background: none;
}

#Section_D .guide_tap ul li:first-child {
    background: none;
}

#Section_D .guide_tap ul li a {
    display: block;
    position: relative;
    width: 195px;
    height: 30px;
    font-size: 16px;
    padding-top: 10px;
    color: #666;
}

#Section_D .guide_tap ul li a.select {
    height: 50px;
    border-bottom: 3px solid #ff3c00;
    color: #ff3c00;
}






















/*  방과후영어 게시판 */

#Section_D .gen_board .guide_01 {
    display: inline-block;
    padding: 10px 0px 10px 0px;
}

#Section_D .gen_board .guide_02 {
    float: left;
    text-align: left;
    width: 180px;
}

#Section_D .gen_board .guide_03 {
    float: left;
    text-align: left;
    width: 50%;
}

#Section_D .gen_board .guide_03 p.indd {
    padding: 0px;
    color: #000;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0px 10px 10px;
}

#Section_D .gen_board .guide_03 p.indd01 {
    padding: 0px;
    color: #888;
    font-size: 14px;
    line-height: 20px;
    padding: 0px 0px 0px 10px;
}

#Section_D .btn {
    display: inline-block;
    font-family: "Noto Sans KR";
    font-weight: 300;
    background-color: #ef7e08;
    color: #FFF;
    font-size: 13px;
    height: 28px;
    line-height: 13px;
    width: 102px;
    border: 1px solid #ef7e08;
    border-radius: 13px;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    margin-bottom: 2px;
}

#Section_D .btn.type_r1 {
    background-color: #ef7e08;
    color: #FFF;
    border: 1px solid #ef7e08;
}

#Section_D .btn.type_r2 {
    background-color: #FFF;
    color: #666;
    border: 1px solid #999;
}

#Section_D .btn.type_r3 {
    background-color: #999;
    color: #FFF;
    border: 1px solid #999;
}



@media (max-width: 995px) {
    #Section_A {
        background: #FFF;
        height: 65px;
        width: 100%;
        border-bottom: 1px solid #e2e2e2;
    }
    #Section_A .board_title {
        width: 91%;
    }


    #Section_A1 {
        background: #FFF;
        height: 60px;
        border-bottom: none;
    }

    #Section_A1 .teacher_title {
        position: relative;
        width: 91%;
        margin: 0 auto;
        padding-top: 20px;
    }

    #Section_A1 .teacher_title strong {
        font-size: 16px;
        font-weight: 400;
        color: #000;
        padding: 10px 20px 0px 0px;
    }

    #Section_A1 .teacher_title span.arrow {
        position: relative;
        float: left;
        font-size: 0em;
        line-height: 0em;
        text-indent: -140px;
        top: 0px;
        left: 0px;
        width: 24px;
        height: 24px;
        background: url(/images/login/iconset.png) no-repeat -381px -612px;
        z-index: 3;
        margin: 0px 8px 0px 0px;
    }
    #Section_A1 .teacher_title .job {
        font-size: 16px;
        font-weight: 300;
        color: #888;
        padding-top: 20px;
    }




    #Section_C .table_cont {
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;
        position: relative;
        overflow: hidden;
        border: none;
    }

    #Section_D .gen_board col.table_skip {
        display: none;
    }

    #Section_D .gen_board th.table_skip {
        display: none;
    }

    #Section_D .gen_board td.table_skip {
        display: none;
    }
    #Section_D .paging .paging_inner .table_skip {
        display: none;
    }

    #Section_D .guide_tap ul li a {
        width: 100%;
    }

    #Section_D .guide_dnbx1 {
        width: 49%;
    }

    #Section_D .guide_dnbx2 {
        width: 49%;
    }
    #Section_F {
        padding-top: 50px;
        margin-bottom: 10px;
        background: #FFF;
        border: none;
        height: 93px;
    }
    #Section_F .table_cont .board_up_l {
        float: left;
        font-size: 14px;
        color: #888;
        padding-top: 23px;
        padding-right: 25px;
    }

    #Section_F .table_cont .board_up_l strong {
        font-weight: 400;
        padding-right: 10px;
    }

    #Section_F .table_cont .board_up_l span {
        font-weight: 300;
        padding-right: 25px;
    }

    #Section_F .table_cont .board_up_r {
        float: right;
    }

    #Section_F .table_cont .board_up_r .btn {
        font-family: "Noto Sans KR";
        font-weight: 300;
        background-color: #ef7e08;
        border: none;
        color: white;
        padding: 10px 27px;
        text-align: center;
        display: inline-block;
        font-size: 14px;
    }
}

@media screen and (min-width: 751px) and (max-width:979px) {
    .pc_only {
        display: none;
    }

    #Section_D .info_box_980 {
        display: block;
        position: relative;
        border: 1px solid #e8e4e1;
        background-color: #f8f7f5;
        top: -35px;
        height: auto;
        padding-top: 49px;
        text-align: center;
    }

    #Section_D .info_box_980 img {
        padding: 0px 0px 35px 0px;
        margin: 0px;
        width: 70%;
    }
    #Section_D .info_box_980.case_02 img {
        padding: 0px 0px 35px 0px;
        margin: 0px;
        width: 50%;
    }

    #Section_D .info_box_425 {
        display: none;
        border: 1px solid #e8e4e1;
        background-color: #f8f7f5;
        text-align: center;
    }
}


@media (max-width: 769px) {
    .pc_only {
        display: none;
    }
}




@media (max-width: 550px) {
    #Section_A {
        display: block;
        width: 100%;
        margin-top: 0px;
    }

    #Section_A1 {
        background: #FFF;
        height: 90px;
        border-bottom: none;
    }

    #Section_A1 .teacher_title {
        position: relative;
        width: 91%;
        margin: 0 auto;
        padding-top: 20px;
    }

    #Section_A1 .teacher_title strong {
        clear: both;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        padding: 10px 20px 0px 0px;
    }

    #Section_A1 .teacher_title span.arrow {
        position: relative;
        float: left;
        font-size: 0em;
        line-height: 0em;
        text-indent: -140px;
        top: 0px;
        left: 0px;
        width: 24px;
        height: 24px;
        background: url(/images/login/iconset.png) no-repeat -381px -612px;
        z-index: 3;
        margin: 0px 8px 0px 0px;
    }
    #Section_A1 .teacher_title .job {
        clear: both;
        display: inline-block;
        position: relative;
        font-size: 16px;
        font-weight: 300;
        color: #888;
        padding-top: 5px;
    }

    .board_title .board_title_back {
        display: block;
        position: relative;
    }
    .board_title .board_title_back span {
        position: absolute;
        z-index: 120;
        font-size: 0em;
        line-height: 0em;
        text-indent: -999px;
        top: 15px;
        left: 0px;
        width: 40px;
        height: 33px;
        background: url(/images/login/iconset.png) no-repeat -215px -600px;
    }
    .board_title .board_title_l {
        float: none;
        font-size: 22px;
        text-align: center;
        color: #000;
        line-height: 25px;
        font-weight: 400;
        padding-top: 18px;
    }
    .board_title .board_title_r {
        display: none;
    }

    #Section_B {
        background: #f8f9fa;
        border: none;
        height: 168px;
        border-bottom: 1px solid #f8f9fa;
    }
    #Section_B .Sect_cont {
        width: 100%;
        text-align: center;
    }
    #Section_B .Sect_cont .board_search_l {
        display: inline-block;
        width: 100%;
        float: none;
        clear: both;
        text-align: center;
    }
    #Section_B .Sect_cont .board_search {
        display: inline-block;
        width: 100%;
        float: none;
        clear: both;
        text-align: center;
    }


    #Section_C {
        height: 103px;
    }
    #Section_D {
        display: none;
    }

    #Section_D span.ascontent_01 {
        padding: 0px 0px 40px 0px;
    }
    #Section_D .guide_tap {
        border: none;
        height: 120px;
        margin: 20px 0px 10px 0px;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
    }

    #Section_D p.info {
        position: relative;
        display: inline-block;
        color: #888;
        font-size: 14px;
        line-height: 14px;
        padding: 0px 0px 5px 25px;
        margin: 0px;
        top: -20px;
        background: url(/images/afterschool/bull_as02.gif) no-repeat 0px 0px;
    }

    #Section_D .guide_tap ul {
        width: 100%;
    }
    #Section_D .guide_tap ul li {
        position: relative;
        border-bottom: 1px solid #f2f2f2;
        border-left: 1px solid #f2f2f2;
        height: 60px;
        float: left;
        width: 33.0%;
        left: -1px;
        top: -1px;
        padding: 10px 0px;
        margin: 0px;
        text-align: center;
        background: none;
    }

    #Section_D .guide_tap ul li:last-child {
        background: none;
        border-right: 1px solid #f2f2f2;
        width: 33.3%;
    }

    #Section_D .guide_tap ul li a {
        display: block;
        position: relative;
        width: 100%;
        font-size: 16px;
        padding: 7px 0px;
        color: #666;
    }

    #Section_D .guide_tap ul li a.select {
        height: 50px;
        border-bottom: none;
        color: #ff3c00;
    }



    #Section_D .guide_dnbx1 {
        width: 100%;
    }

    #Section_D .guide_dnbx2 {
        width: 100%;
        margin-top: 10px;
    }


    #Section_D .guide_dnbx3 {
        height: auto;
        width: 100%;
        float: left;
        padding: 0px 0px 10px 0px;
        margin: 0px 0px 0px 0px;
    }
    #Section_D .guide_dnbxrt {
        float: right;
        padding: 15px 14px 0px 14px;
    }
    #Section_D .guide_dnbxrt1 {
        float: right;
        padding: 10px 14px 0px 0px;
        width: 100%;
    }

    #Section_D .guide_dnbxlt1 span.buy_book {
        display: inline-block;
        position: relative;
        color: #888;
        line-height: 25px;
        background: url(/images/afterschool/bull_as02.gif) no-repeat 0px 3px;
        padding: 0px 0px 3px 25px;
    }

    #Section_D .guide_dnbx3 button.buy_book {
        display: inline-block;
        position: relative;
        font-family: 'Noto Sans KR';
        padding: 0px 15px 10px 25px;
        margin: 0px;
        font-size: 16px;
        font-weight: 300;
        color: #333;
        background: url(/images/afterschool/bull_as04.png) no-repeat right 6px;
    }

    #Section_D .guide_dnbxlt span.buy_book {
        line-height: 14px;
    }


    #Section_D .gen_board .guide_03 p.indd {
        padding: 0px;
        color: #000;
        font-size: 16px;
        line-height: 18px;
        padding: 10px 0px 10px 10px;
    }
    #Section_D .gen_board .guide_03 p.indd01 {
        padding: 0px;
        color: #888;
        font-size: 14px;
        line-height: 16px;
        padding: 0px 0px 0px 10px;
    }


    #Section_D .info_box_980 {
        display: none;
    }

    #Section_D .info_box_425 {
        display: block;
        position: relative;
        border: 1px solid #e8e4e1;
        background-color: #f8f7f5;
        top: -35px;
        height: auto;
        text-align: center;
    }
    #Section_D .info_box_425 img {
        width: 75%;
        padding: 35px 0px 35px 0px;
    }
}



#Section_D input[type="radio"] {
    display: none;
}

#Section_D input[type="radio"]+label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -2px 10px 0px 0px;
    vertical-align: middle;
    background: url(/images/login/iconset.png) no-repeat -528px -431px;
    cursor: pointer;
}

#Section_D input[type="radio"]:checked+label span {
    background: url(/images/login/iconset.png) no-repeat -549px -431px;
}

#Section_D ul.radio {}

#Section_D ul.radio li {
    float: left;
    width: 185px;
    padding: 5px 0px 5px 0px;
    font-size: 14px;
    color: #333;
}

















@media (max-width: 770px) {
    #Section_A {
        display: block;
        width: 100%;
        margin-top: 0px;
    }
    #Section_B {
        background: #f8f9fa;
        border: none;
        height: 72px;
        border-bottom: 1px solid #f8f9fa;
    }
    #Section_B .Sect_cont {
        width: 100%;
        text-align: center;
    }
    #Section_B .Sect_cont .board_search_l {
        display: inline-block;
        width: 360px;
        float: none;
        clear: both;
        text-align: center;
        margin-top: 0px;
    }
    #Section_B .Sect_cont .board_search {
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        float: none;
        clear: both;
        border: none;
        border-top: 1px solid #dedee1;
        border-bottom: 1px solid #dedee1;
        border-left: 1px solid #dedee1;
        height: 40px;
        margin-top: 12px;
        width: 346px;
        text-align: center;
    }
    #Section_B .board_search_input {
        width: 302px;
        height: 38px;
        line-height: 18px;
        border: 0;
        vertical-align: top;
        font-size: 18px;
        font-weight: 400;
        padding: 0 0 3px 13px;
        background-color: #FFF;
    }

    #Section_B1 {
        overflow: hidden;
        height: 165px;
    }

    #Section_B1 .Sect_cont {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 105%;
        margin: 0px;
    }

    #Section_B1 ul.category {
        margin-top: 0px;
    }

    #Section_B1 ul.category li {
        position: relative;
        display: inline-block;
        z-index: 11;
        float: left;
        height: 55px;
        width: 33%;
        font-size: 14px;
        color: #888;
        text-align: center;
        margin-left: -1px;
        margin-top: -1px;
        border: 1px solid #f2f2f2;
    }

    #Section_B1 ul.category li.select {
        position: relative;
        display: inline-block;
        z-index: 15;
        float: left;
        height: 55px;
        color: #ff3c00;
        margin-left: -1px;
        margin-top: -1px;
        border: 1px solid #f2f2f2;
    }


    #Section_B1 ul.category li a {
        position: relative;
        display: inline-block;
        font-size: 16px;
        padding-top: 13px;
        line-height: 27px;
        color: #666;
        width: 100%;
        height: 55px;
    }

    #Section_B1 ul.category li.select a {
        position: relative;
        display: inline-block;
        color: #ff3c00;
        width: 100%;
        height: 55px;
    }

    #Section_B1 ul.category li:first-child {
        width: 33%;
        margin-left: -1px;
    }
    #Section_B1 ul.category li:nth-child(3) {}

    #Section_D {
        display: block;
    }
    #Section_D1 {
        display: block;
    }
}


@media (max-width: 650px) {
    #Section_F {
        height: 133px;
    }
    #Section_D {
        display: block;
    }
}

@media (max-width: 725px) {
    #Section_B {
        background: #f8f9fa;
        border: none;
        height: 138px;
        border-bottom: 1px solid #f8f9fa;
    }
}

@media (max-width: 979px) {
    #Section_A {
        display: block;
        width: 100%;
        margin-top: 0px;
    }
    #Section_A .board_title {
        width: 91%;
        margin-top: 0px;
    }
    input.board_title_in {
        width: 75%;
    }
    .board_edit {
        width: 100%;
    }
    .board_attach {
        width: 75%;
    }
}

@media (min-width: 1280px) {
    .Sect_cont {
        overflow: hidden;
    }
}