@charset "utf-8";
/**
 * EBSe event page contents CSS
 * @version 1.0.0
 * @author Shawna Choi
 * @update 2018-07-31
 */

.search_box{margin-bottom:50px;padding:25px 0;}
.action_wrap{overflow:hidden;padding-bottom:20px;}
.action_wrap .count{display:inline-block;margin-top:20px;font-size:14px;color:#888;vertical-align:bottom;}
.action_wrap .btn{float:right;}
@media screen and (max-width:980px) {
	.search_box{padding:15px 0}
}

.list_thumb{clear:both;}
.list_thumb.col3to1 ul{overflow:hidden;margin-left:-21px;padding-bottom:20px;}
.list_thumb.col3to1 li{float:left;width:33.3%;height:313px;padding-left:21px;}
.list_thumb .tit{height:45px;margin:15px 0;text-align:center;font-size:16px;color:#222;font-weight:400;}
.list_thumb .script,.list_thumb .date{display:block;line-height:1;text-align:center;color:#888px;font-size:14px;font-weight:300;}
.list_thumb .script,.list_thumb .date .label{margin-left:5px;}

.view_event{min-height:800px;}

@media screen and (max-width:980px) {
	.action_wrap{padding-bottom:10px;}
	.action_wrap .count{font-size:12px;}
	.list_thumb.col3to1 ul{margin-left:0;padding-bottom:20px;}
	.list_thumb.col3to1 li{float:left;width:100%;height:auto;padding-left:0;}
	.list_thumb .desc{display:block;padding:5px 0 25px;}
	.list_thumb .tit{height:35px;line-height:16px;padding:0;font-size:13px;}
	.list_thumb .script .list_thumb .date{font-size:11px;}
}