@charset "utf-8";


.ir_text {
    text-indent: -300%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.inner {
    width: 950px;
    margin: 0 auto;
}

iframe {
    margin: 0;
    border: none;
}

.clr {
    clear: both;
    height: 0;
    overflow: hidden;
}

.pct {
    display: block
}

.content_notice {
    float: left;
    width: 460px;
    padding-bottom: 40px;
}

.content_event {
    float: right;
    width: 460px;
}

#Document {
    padding: 60px 0px 0px 0px;
}

.mob_lg {
    display: none;
}

#login_area {
    width: 950px;
    margin: 0 auto 45px auto;
    background: #f8f9fa;
    border: 1px solid #f2f2f2;
    position: relative;
    z-index: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

#login_area .lg_top {
    background: #FFF;
    height: 130px;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}

#login_area .title {
    margin-left: 50%;
}

#login_area .title .title_in {
    position: relative;
    z-index: 2;
    width: 242px;
    margin-left: -141px;
}

#login_area h1 {
    position: absolute;
    top: 48px;
    left: 46px;
    width: 244px;
    height: 47px;
}

#login_area h1 a {
    text-indent: -300%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 244px;
    height: 47px;
    background: url(/images/login/icon_set.png) no-repeat -1px -58px;
}

#login_area h1 a img {
    display: none;
}

#login_area h2 {
    position: absolute;
    top: 56px;
    left: 163px;
    font-size: 26px;
    line-height: 29px;
    color: #062f6d;
}

.login_box_new {
    position: relative;
    overflow: hidden;
    width: 768px;
    margin: 0 auto;
    padding: 50px 0;
}

.login_box_new .left {
    float: left;
    width: 435px;
    padding: 0;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.login_box_new .save {
    text-align: left;
    color: #222;
    height: 35px;
    position: relative;
}

.login_box_new .save .cbr_type {
    visibility: hidden;
    position: absolute;
    left: 0px;
}

.login_box_new .save label {
    position: relative;
    font-size: 14px;
    color: #555;
    padding-left: 26px;
    padding-top: 0px;
    line-height: 10px;
    top: 8px;
}

.login_box_new .save label i {
    width: 22px;
    height: 22px;
    background: url(/images/login/icon_set.png) no-repeat -187px 0px;
}

.login_box_new .save input[type="checkbox"]+label i {
    position: absolute;
    left: 0;
    top: 1px;
    width: 22px;
    height: 22px;
    background: url(/images/login/icon_set.png) no-repeat -187px 0px;
}

.login_box_new .save input[type="checkbox"]:checked+label i {
    background-position: -160px 0px;
}

.login_box_new .save input[type="checkbox"]:checked+label {
    color: #f57e25;
}

html.ie7 .login_box_new .save .cbr_type,
html.ie8 .login_box_new .save .cbr_type {
    position: static;
    visibility: visible;
    vertical-align: middle;
}

html.ie7 .login_box_new .save label,
html.ie8 .login_box_new .save label {
    padding-left: 0px;
}

html.ie7 .login_box_new .save label i,
html.ie8 .login_box_new .save label i {
    display: none
}


.login_box_new .ip_on-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    padding-right: 125px;
    padding-top: 10px;
    height: 19px;
}

.login_box_new .ip_on-off li {
    float: left;
    line-height: 18px;
    font-size: 12px;
    color: #666;
    width: 38px;
}

.login_box_new .ip_on-off li.question {
    position: absolute;
    right: 0px;
    top: 8px;
    line-height: 18px;
    font-size: 12px;
    color: #666;
    width: 18px;
}

.login_box_new .ip_on-off li span {
    float: left;
}


.login_box_new .ip_on-off li span .notice {
    float: left;
    position: absolute;
    top: 10px;
    left: 45px;
    width: 18px;
    height: 18px;
}

.login_box_new .save .security {
    position: absolute;
    top: 10px;
    left: 45px;
    width: 57px;
    color: #757575;
    font-size: 11px;
    z-index: 3;
}

.login_box_new .save .security .control {
    margin-top: 0;
    padding-top: 0
}

.login_box_new .save .security .control span {
    float: left;
    line-height: 15px;
}

.login_box_new .save .security .control button {
    height: 17px;
    background-image: url('https://static.ebs.co.kr/www/common/img/category/main/bg_ip.png');
}

.login_box_new .save .security .control .ip_on button {
    width: 25px;
    background-position: 0 0;
}

.login_box_new .save .security .control .ip_off button {
    width: 28px;
    background-position: -25px 0;
}

.login_box_new .save .security .control .ip_on button.selected {
    background-position: 0 -17px !important;
}

.login_box_new .save .security .control .ip_off button.selected {
    background-position: -25px -17px !important;
}

.login_box_new .right {
    float: right;
    width: 280px;
    padding: 0;
}

.login_box_new .btn_sns {
    margin-top: 8px;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    padding: 14px 0;
}

.login_box_new .btn_sns>div {
    float: left;
    text-align: center;
}

.login_box_new .btn_sns .lg_sns_tit {
    width: 150px;
    border: none;
    margin-top: 10px;
    color: #555;
    font-size: 18px;
    line-height: 26px;
}

.login_box_new .btn_sns .lg_sns_list {
    width: 280px;
}

.login_box_new .btn_sns .lg_sns_list ul {
    width: 240px;
    overflow: hidden;
    margin: 0 auto;
}

.login_box_new .btn_sns .lg_sns_list li {
    float: left;
    width: 32.1%;
}

.login_box_new .btn_sns .lg_sns_list li a {
    display: inline-block;
    *display: block;
    width: 48px;
    height: 48px;
    text-align: center;
    text-indent: -300%;
    white-space: nowrap;
    overflow: hidden;
    background: url(/images/login/icon_set.png) no-repeat -187px 0px;
}

.login_box_new .btn_sns .lg_sns_list li.lg_sns01 a {
    background-position: -227px 0;
}

.login_box_new .btn_sns .lg_sns_list li.lg_sns02 a {
    background-position: -281px 0;
}

.login_box_new .btn_sns .lg_sns_list li.lg_sns03 a {
    background-position: -333px 0;
}

.login_box_new .btn_sns .btn_face {
    float: left;
}

.login_box_new .btn_sns .btn_kakao {
    float: right;
}

.login_box_new .box_bottom {
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid #dfe2e7;
}

.top_bnr {
    position: absolute;
    right: 0;
    top: 0px;
    overflow: hidden;
    width: 535px;
    height: 130px;
    text-align: right;
    z-index: 1;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.top_bnr a {
    display: block;
}

.info_input {
    position: relative;
}

.info_input .img_type {
    font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum', 'AppleGothic', sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    width: 132px;
    padding: 35px 0;
    color: #FFF;
    font-size: 20px;
    line-height: 24px;
    background: #ef7e08;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.info_input .txt_type {
    width: 292px;
    margin-bottom: 12px;
    font-size: 14px;
    padding: 4px 10px 4px;
    color: #666;
    border: 1px solid #e8e5e2;
    height: 40px;
    font-weight: bold;
}

html.ie7 .info_input .txt_type,
html.ie8 .info_input .txt_type {
    padding: 5px 10px 0px;
    line-height: 24px;
    height: 32px;
}

.box_bottom p {
    font-size: 16px;
    color: #666;
    padding: 24px 10px 35px 0px;
    line-height: 22px;
    word-break: keep-all;
    word-wrap: break-word;
}

.box_bottom p span {
    color: #ef7e08;
}

.bul_list {
    display: block
}

.bul_list li {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bul_list li+li {
    padding-left: 10px;
}

.bul_list li a {
    display: block;
    font-weight: 400;
    padding: 10px 22px;
    font-size: 14px;
    color: #FFF;
    background: #666666;
}

.bul_list li.even_item a {
    display: block;
    font-weight: 400;
    padding: 10px 20px;
    font-size: 14px;
    color: #333333;
    background: #FFF;
    border: 1px solid #DDD;
}

.bul_list li.even_item a:hover {
    background: #FFF;
    text-decoration: none;
}

.bul_list li.last_item a {
    display: block;
    font-weight: 400;
    padding: 10px 20px;
    font-size: 14px;
    color: #333333;
    background: #FFF;
    border: 1px solid #DDD;
}

.bul_list li.last_item a:hover {
    background: #FFF;
    text-decoration: none;
}

.bul_list li a:hover {
    background: #a9b1b7;
    text-decoration: none;
}

.top_me03 {
    display: none
}

.banner_img {
    display: none
}

.r_notice {
    position: relative;
    display: inline-block;
    float: left;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #000;
}

.btn_more_txt {
    position: relative;
    float: right;
    top: -30px;
}

.r_notice h3 {
    font-weight: 500;
    padding: 0px 0px 0px 0px;
    font-size: 26px;
    color: #000;
    width: 300px;
}

.btn_more_txt {
    float: right;
}

.btn_more_txt a {
    float: left;
    font-weight: 400;
    padding: 0px 20px 0px 0px;
    font-size: 16px;
    color: #666;
}

.btn_more_txt a img {
    position: absolute;
    float: left;
    top: 7px;
    right: 0px;
}

ul.list {
    display: inline-block;
    padding-top: 5px;
}

ul.list li {
    display: inline-block;
    padding: 15px 0px 0px 0px;
}

ul.list a {
    display: inline-block;
    font-size: 14px;
    color: #555;
    line-height: 14px;
    padding: 0px 0px 0px 0px;
}

.info_input.formobile .img_type {
    display: none;
}




@media \0screen {
    .info_input .img_type {
        padding: 34px 0 33px;
    }
}

@media all and (min-width: 1280px) {
    #login_area {
        width: 980px;
    }
    .inner {
        width: 980px;
    }
    #Footer .container {
        width: 980px;
        padding: 14px 0 28px 0;
    }
}

@media all and (max-width: 979px) {
    #login_area {
        width: 750px;
    }
    .inner {
        width: auto;
    }
    .login_box_new {
        width: calc(100% - 20px);
        max-width: 750px;
    }
    #login_area h1 {
        position: absolute;
        top: 28px;
        left: 28px;
        width: 220px;
        height: 47px;
    }
    #login_area h1 a {
        text-indent: -300%;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        width: 220px;
        height: 47px;
        background: url(/images/login/icon_set.png) no-repeat -1px -47px;
        background-size: 500px;
    }
    #login_area .lg_top {
        background: #FFF;
        height: 100px;
        width: 100%;
        border-bottom: 1px solid #f2f2f2;
    }
    .top_bnr {
        position: absolute;
        right: 0;
        top: 0px;
        overflow: hidden;
        width: 382px;
        height: 100px;
        text-align: right;
        z-index: 1;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    .top_bnr img {
        height: 100px;
    }
    #Footer {
        display: none;
    }
    #MobFooter {
        display: block;
    }
}

@media all and (max-width: 760px) {
    .pct {
        display: none;
    }
    .top_me03 {
        display: block;
        position: fixed;
        left: 11px;
        top: 8px;
        width: 54px;
        height: 50px;
        z-index: 3;
    }
    .top_me03 a {
        overflow: hidden;
        display: block;
        background: url(/images/login/iconset.png) no-repeat -1px -213px;
        width: 54px;
        height: 50px;
        text-indent: -200px;
    }
    #login_area {
        margin: 0 auto 25px auto;
        border: 0;
        width: 100%;
    }
    #login_area .title {
        display: none;
    }
    .mob_lg {
        display: block;
        position: fixed;
        z-index: 2;
        top: 0px;
        left: 0;
        right: 0;
        width: 100%;
        height: 63px;
        background: #FFF;
        border-bottom: 3px solid #f57e25;
    }
    .mob_lg h1 {
        position: absolute;
        top: 11px;
        left: 50%;
        margin-left: -87px;
    }
    .mob_lg h1 a {
        text-indent: -300%;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        width: 126px;
        height: 42px;
        background: url(/images/login/icon_set.png) no-repeat 0px 0px;
    }
    .mob_lg h2 {
        position: absolute;
        top: 19px;
        left: 50%;
        font-size: 24px;
        line-height: 29px;
        color: #062f6d;
        width: 77px;
        margin-left: 51px;
    }
    .top_bnr {
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        margin-left: 0;
        background: #FFF;
    }
    .login_box_new {
        max-width: none;
        padding: 25px 0;
    }
    .login_box_new .left {
        float: none;
        width: 100%;
        max-width: 499px;
        margin: 0 auto;
    }
    .login_box_new .right {
        display: none;
    }
    .login_box_new .btn_sns .lg_sns_list {
        width: calc(100% - 153px);
    }
    .login_box_new .btn_sns .lg_sns_list ul {
        width: 100%;
    }
    .login_box_new .ip_on-off {
        display: none;
    }
    .info_input .txt_type {
        width: calc(100% - 165px)
    }
    .banner_img {
        display: block;
        position: fixed;
        bottom: -3px;
        z-index: 90;
        padding-bottom: 0;
        /* height: 65px; */
        left: 0;
        width: 100%;
        right: 0;
        box-shadow: 0px -2px 5px #cccccc;
        -webkit-transition: bottom .5s ease;
        transition: bottom .5s ease;
        background: #eee;
    }
    .banner_img.off {
        bottom: -90px
    }

    #MobFooter {
        display: block;
    }
}

@media all and (max-width: 500px) {
    .mob_lg {}
    .mob_lg h1 {
        margin-left: -61px;
        top: 14px;
    }
    .mob_lg h1 a {
        width: 106px;
        background-size: 500px;
    }
    .mob_lg h2 {
        font-size: 20px;
        width: 59px;
        top: 18px;
    }
    .login_box_new .left {
        width: 100%
    }
    #login_area .lg_top {
        height: auto
    }
    .top_bnr {
        height: auto;
        padding-top: 24.2%;
        position: relative;
    }
    .top_bnr img {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .info_input .txt_type {
        width: 100%;
        margin-bottom: -1px;
        padding: 5px 10px 5px;
        height: 47px;
    }
    .info_input .img_type {
        width: 105px;
        padding: 27px 0;
    }
    .info_input .img_type.formobile {
        display: none;
    }
    .info_input.formobile {
        display: inline-block;
        position: relative;
        width: 100%;
    }
    .bul_list .first_item {
        width: 100%;
    }
    .bul_list .even_item,
    .bul_list .last_item {
        padding: 0px;
        padding-top: 10px;
        width: 48%;
    }
    .bul_list .last_item {
        margin-left: 10px;
    }
    .info_input.formobile .img_type {
        display: inline-block;
        position: relative;
        width: 100%;
        background: #ef7e08;
        border-radius: 3px;
        display: block;
        text-align: center;
        font-weight: bold;
        padding: 10px 0px;
    }

    .box_bottom p {
        font-size: 16px;
        color: #666;
        padding: 10px 10px 20px 0px;
        line-height: 22px;
        word-break: keep-all;
        word-wrap: break-word;
    }
    .top_me03 {
        width: 41px;
        height: 40px;
        top: 12px;
    }
    .top_me03 a {
        width: 41px;
        height: 40px;
        background-size: 300px;
        background-position: 0px -134px
    }
}

@media all and (max-width: 380px) {
    .mob_lg h2 {
        font-size: 17px;
    }
    .bul_list li a {
        padding: 10px 17px
    }
    .login_box_new .btn_sns .lg_sns_tit {
        width: 115px;
        font-size: 17px;
    }
    .login_box_new .btn_sns .lg_sns_list {
        width: calc(100% - 119px)
    }
}

@media all and (max-width: 321px) {
    .bul_list .even_item,
    .bul_list .last_item {
        padding: 0px;
        padding-top: 10px;
        width: 47.5%;
    }
}